
p {
    text-align: justify;
    text-justify: inter-word;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 15px;
}
/* CAROUSEL */

.my-carousel {
    position: fixed;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.carousel-inner > .item {
    position: relative;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;

}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    line-height: 1;
    width: 100%;
    height: 100vh;
    position: relative;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-inner > .item {
        -webkit-transition-property: -webkit-transform opacity;
        -o-transition-property: -o-transform opacity;
        transition-property: transform opacity;

        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px;
    }

    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        z-index: 10;
        opacity: 1;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
        z-index: 10;
        opacity: 1;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    .carousel-inner > .item.next.left,
    .carousel-inner > .item.prev.right,
    .carousel-inner > .item.active {
        z-index: 10;
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
    z-index: 10;
    display: block;
}

.carousel-inner > .active {
    opacity: 1;
}

.carousel-inner > .next,
.carousel-inner > .prev {
    z-index: 10;
    position: absolute;
    top: 0;
    width: 100%;
}

.carousel-inner > .next {
    z-index: 10;
    opacity: 1;
}

.carousel-inner > .prev {
    z-index: 10;
    opacity: 1;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
    z-index: 10;
    opacity: 1;
}

.carousel-inner > .active.left {
    z-index: 10;
    opacity: 1;
}

.carousel-inner > .active.right {
    z-index: 10;
    opacity: 1;
}

/* CONTENT */

.content_sectionControlsCarousel {
    position: relative;
    width: 100%;
    height: 100vh;
}

.content_sectionAboutMe {
    position: relative;
    background: #ffffff url("../assets/images/background.png");
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 2vh;
    margin: 0;
}

.content_sectionContact {
    position: relative;
    background: #ffffff url("../assets/images/background.png");
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 5vh;
    margin: 0;
}

/* CONTENT SECTION ABOUT ME */

.img_photograph {
    width: 100%;

}

.zone_AboutMeCenter {
    display: flex;
    align-items: center;
}

/* CONTENT SECTION CONTACT */

.hr_homepage {
    height: 1px;
    background-color: black;
    border: none;
    width: 100%;
    margin: 0;
}

#contact {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.form-control {
    background-color: transparent;
    border-radius: 0;
    border-color: black;
    box-shadow: none;
    font-size: 15px;
}

.text-muted {
    padding-left: 7px
}


/* PICTOS UP & DOWN */

.zone_pictosUpDown {
    padding-top: 90vh;
}

.pictoDown {
    font-family: "Poiret One", sans-serif;
    font-size: 80px;
    color: #FFFFFF;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    overflow: hidden;
    width: 70px;
    height: 70px;
    margin: 0;
    padding: 0;
}

.pictoDownBlack {
    font-family: "Poiret One", sans-serif;
    font-size: 80px;
    color: #000000;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    margin: 0;
    padding: 0;
}

/* PAGE PROJECTS & PORTFOLIO */

#project {
    padding-top: 80px;
}

.margin_article {
    margin-top: 5vmin;
}

.date {
    text-align: right;
}

.img_project {
    width: 100%;
}

/* PAGE PROJECTS */

#project {
    padding-top: 80px;
}

/* PAGE PORTFOLIO */

#portfolio {
    padding-top: 80px;
}

/* PORTFOLIO PILLS */

.nav-pills {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    background-color: transparent;
    border-radius: 0;
    color: black;
    text-transform: uppercase;

}

.nav-pills > li > a:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0;
}

.nav-pills > li > a, .nav-pills > li > a:focus{
    background-color: transparent;
    border-radius: 0;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0;
}

.portfolio-nav > li > a {
    font-size: 20px;
    color: #000000 !important;
    font-family: "Source Sans Pro", sans-serif !important;
    text-transform: uppercase;
}

.portfolio-nav > li > a:hover {
    box-shadow: inset 0 0 0 white, inset 0 -3px 0 #000000;
}

.nav-link-active {
    background: lightgray !important;
    box-shadow: inset 0 0 0 white, inset 0 -3px 0 #000000;
}

.portfolioProject1 {
    width: 100%;
    height: 50px;
}

.portfolio-nav > li > a {
    font-size: 20px;
    color: #000000 !important;
    font-family: "Source Sans Pro", sans-serif !important;
    text-transform: uppercase;
}

.portfolio-nav > li > a:hover {
    box-shadow: inset 0 0 0 white, inset 0 -3px 0 #000000;
}

.nav-link-active {
    background: lightgray !important;
    box-shadow: inset 0 0 0 white, inset 0 -3px 0 #000000;
}

.portfolioProject1 {
    width: 100%;
    height: 50px;
}

/* PICTURES */

.col_param {
    margin: 0;
    padding: 0;
}

/* PORTFOLIO */
/*Extra small devices (phones, 600px and down)*/
@media only screen and (max-width: 600px) {
    .img-gal {
        max-width: 98%;
        height: auto;
        margin: 4px;
        display: block;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {

    .img-gal {
        max-width: 99%;
        height: auto;
        margin: 4px;
        display: block;
    }

}

/* Medium devices (landscape tablets, 768px and up)*/
@media only screen and (min-width: 768px) {
    .img_portfolio1, .img_portfolio2 {
        width: auto;
        height: 323px;
        margin: 4px;
    }

    .img_portfolio3, .img_portfolio4 {
        width: auto;
        height: 234px;
        margin: 4px;
    }

    .img_portfolio5 {
        width: auto;
        height: 476px;
        margin: 4px;
    }

    .img_portfolio6, .img_portfolio7 {
        width: auto;
        height: 323px;
        margin: 4px;
    }

    .img_portfolio8, .img_portfolio9, .img_portfolio10 {
        width: auto;
        height: 242px;
        margin: 4px;
    }

    /*project 2 city*/
    .img_portfolio11, .img_portfolio12, .img_portfolio13, .img_portfolio14 {
        width: auto;
        height: 323px;
        margin: 4px;
    }

    .img_portfolio15 {
        width: auto;
        height: 476px;
        margin: 4px;
    }

    .img_portfolio16, .img_portfolio17 {
        width: auto;
        height: 323px;
        margin: 4px;
    }

    .img_portfolio18, .img_portfolio19 {
        width: auto;
        height: 323px;
        margin: 4px;
    }

    .img_portfolio20, .img_portfolio21 {
        width: auto;
        height: 231px;
        margin: 4px;
    }

    .img_portfolio22, .img_portfolio23, .img_portfolio24 {
        width: auto;
        height: 242px;
        margin: 4px;
    }

    .img_portfolio25, .img_portfolio26, .img_portfolio27 {
        width: auto;
        height: 187px;
        margin: 4px;
    }

    .img_portfolio28, .img_portfolio29, .img_portfolio30 {
        width: auto;
        height: 242px;
        margin: 4px;
    }

    /*press*/
    .img_portfolio31, .img_portfolio32 {
        width: auto;
        height: 321px;
        margin: 4px;
    }

    .img_portfolio33, .img_portfolio34 {
        width: auto;
        height: 322px;
        margin: 4px;
    }

    .img_portfolio35, .img_portfolio36 {
        width: auto;
        height: 231px;
        margin: 4px;
    }

    .img_portfolio37, .img_portfolio38 {
        width: auto;
        height: 186px;
        margin: 4px;
    }

    .img_portfolio39 {
        width: auto;
        height: 187px;
        margin: 4px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .img_portfolio1, .img_portfolio2 {
        width: auto;
        height: 425px;
        margin: 4px;
    }

    .img_portfolio3, .img_portfolio4 {
        width: auto;
        height: 307px;
        margin: 4px;
    }

    .img_portfolio5 {
        width: auto;
        height: 623px;
        margin: 4px;
    }

    .img_portfolio6, .img_portfolio7 {
        width: auto;
        height: 425px;
        margin: 4px;
    }

    .img_portfolio8, .img_portfolio9, .img_portfolio10 {
        width: auto;
        height: 320px;
        margin: 4px;
    }

    /*projet 2 city*/
    .img_portfolio11, .img_portfolio12 {
        width: auto;
        height: 424px;
        margin: 4px;
    }

    .img_portfolio13, .img_portfolio14 {
        width: auto;
        height: 424px;
        margin: 4px;
    }

    .img_portfolio15, .img_portfolio16 {
        width: auto;
        height: 307px;
        margin: 4px;
    }

    .img_portfolio17, .img_portfolio18, .img_portfolio19 {
        width: auto;
        height: 320px;
        margin: 4px;
    }

    /*events*/
    .img_portfolio20, .img_portfolio21 {
        width: auto;
        height: 304px;
        margin: 4px;
    }

    .img_portfolio22, .img_portfolio23, .img_portfolio24 {
        width: auto;
        height: 320px;
        margin: 4px;
    }

    .img_portfolio25, .img_portfolio26, .img_portfolio27, .img_portfolio34, .img_portfolio35, .img_portfolio36 {
        width: auto;
        height: 246px;
        margin: 4px;
    }

    .img_portfolio28, .img_portfolio29, .img_portfolio30 {
        width: auto;
        height: 320px;
        margin: 4px;
    }

    /*press*/
    .img_portfolio31, .img_portfolio32, .img_portfolio33, .img_portfolio34, .img_portfolio35, .img_portfolio36, .img_portfolio37, .img_portfolio38, .img_portfolio39 {
        width: auto;
        height: 246px;
        margin: 4px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .img_portfolio1, .img_portfolio2, .img_portfolio3 {
        width: auto;
        height: 303px;
        margin: 4px;
    }

    .img_portfolio4, .img_portfolio5 {
        width: auto;
        height: 374px;
        margin: 4px;
    }

    .img_portfolio6, .img_portfolio7, .img_portfolio8 {
        width: auto;
        height: 391px;
        margin: 4px;
    }

    .img_portfolio9, .img_portfolio10 {
        width: auto;
        height: 517px;
        margin: 4px;
    }

    /*projet 2 CITY*/
    .img_portfolio11, .img_portfolio12, .img_portfolio13, .img_portfolio14, .img_portfolio15, .img_portfolio16 {
        width: auto;
        height: 303px;
        margin: 4px;
    }

    .img_portfolio17, .img_portfolio18, .img_portfolio19 {
        width: auto;
        height: 391px;
        margin: 4px;
    }

    /*event*/
    .img_portfolio20, .img_portfolio21, .img_portfolio22 {
        width: auto;
        height: 301px;
        margin: 4px;
    }

    .img_portfolio23, .img_portfolio24, .img_portfolio25 {
        width: auto;
        height: 391px;
        margin: 4px;
    }

    .img_portfolio26, .img_portfolio27 {
        width: auto;
        height: 371px;
        margin: 4px;
    }

    .img_portfolio28, .img_portfolio29, .img_portfolio30 {
        width: auto;
        height: 391px;
        margin: 4px;
    }

    /*press*/
    .img_portfolio31, .img_portfolio32, .img_portfolio33 {
        width: auto;
        height: 301px;
        margin: 4px;
    }

    .img_portfolio34, .img_portfolio35, .img_portfolio36, .img_portfolio37, .img_portfolio38, .img_portfolio39 {
        width: auto;
        height: 301px;
        margin: 4px;
    }

}

.col_param {
    margin: 0;
    padding: 0;
}

/* ONGLET THE CITY */

.center-pills {
    display: flex;
    justify-content: center;
}

/* Style the Image Used to Trigger the Modal */
#myImg {

    transition: 0.3s;
    cursor: pointer;
}

#myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 15vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: auto;
    max-width: 700px;
    max-height: 80vh;
}

/* Add Animation - Zoom in the Modal */
.modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 10vh;
    right: 10vw;
    color: white;
    font-size: 30px;
    font-weight: 400;
    transition: 0.3s;
    font-family: "Source Sans Pro", sans-serif;
    z-index: 2;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

